# SPDX-FileCopyrightText: 2026 German Aerospace Center (DLR e.V.) <https://dlr.de>
#
# SPDX-License-Identifier: Apache-2.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
        exclude: docs/make.bat
      - id: trailing-whitespace
  - repo: https://github.com/fsfe/reuse-tool
    rev: v6.2.0
    hooks:
      - id: reuse
        name: Check license headers (REUSE)
  - repo: https://github.com/FHPythonUtils/LicenseCheck
    rev: 2025.1.0
    hooks:
      - id: licensecheck
        language: python
        name: Check licenses of Python dependencies
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.6.0
    hooks:
      - id: editorconfig-checker
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.35.0
    hooks:
      - id: check-github-workflows
      - id: check-github-actions
      - id: check-dependabot
      - id: check-gitlab-ci
      - id: check-readthedocs
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        name: Linting Python code (flake8)
        additional_dependencies:
          - flake8-docstrings
          - flake8-docstrings-complete
          - flake8-pyproject
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff-check
        name: Linting Python code (ruff)
        args: [--fix]
      - id: ruff-format
        name: Formatting Python code (ruff)
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: Fixing common spelling mistakes
        args:
          - --write-changes
        exclude: uv.lock
  - repo: https://github.com/PyCQA/docformatter
    rev: v1.7.7
    hooks:
      - id: docformatter
        name: Fixing docstring formatting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0
    hooks:
      - id: markdownlint
        name: Fixing markdown linting errors
        args: [--disable, MD013, MD033, --fix]
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.15.0
    hooks:
      - id: pretty-format-yaml
        args: [--autofix, --indent, "2", --offset, "2", --preserve-quotes]
      - id: pretty-format-toml
        args: [--autofix]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        name: Static typechecking (mypy)
        exclude: ^tests/
